.navbar .nav-link {
  color: white;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover {
  font-weight: bold;
  text-decoration: none;
}
.navbar .nav-link:hover::after {
  width: 100%;
}
